*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
}
.nav{
    background-color: #018C9E;
    display: flex; 
    height: 45px;
    justify-content: space-evenly;
    outline: 1px solid black;
    align-items: center;
}

.nav-item{

    color: white;
    font-weight: 900;
    font-size: .8rem;
    font-family: sans-serif;
}

.nav-item:hover{
    cursor: pointer;
    color: black;
}

@media only screen and (min-width: 768px){
    .nav{
        height: 50px;
    }
    .nav-item{
        font-size: 1.1rem;
    }

}

.hero {
    background-image: url("hero.jpg");
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;

}

.hero::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    z-index: 10;
}
.hero_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.hero_row{
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;
}
.hero_title {
    color: white;
    text-align: center;
}
.hero_location{ 
    color: white;
}
.hero_button {
    border: none;
    padding: 8px 40px;
    border-radius: 3px;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    background-color: #018C9E;
}
.hero_button:hover{
    cursor: pointer;
    filter: brightness(1.4);
}
.background {
    background-color: #EFF5FB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.background_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
    padding: 55px;
    box-shadow: 2px 5px  10px black ;
    gap: 60px;
}
.service_items{
    display: flex;
    flex-direction: column;
    gap: 140px;
    width: 100%;
}
.service-item {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
min-width: 180px;
}
.service-title{
    text-align: center;
    color: #018C9E;
}
.service-circle {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    width: 120px;
    height: 120px;
}

.service-icon:hover{
    filter: brightness(1.4);
}
@media only screen and (min-width: 768px){
    .service_items{
        display: flex;
        flex-direction: row;
        gap: 140px;
    }
    
}

.service-circle:hover{
    background-color: rgb(199, 142, 37);
    cursor: pointer;
}
.descripcion {
    text-align: center;
}
.contacto {
    color: rgb(200, 177, 25);
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
}
form {
    background-color: #666666; 
    padding: 1rem;
    border-radius: 8px;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.inputs-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

input {
    border: none;
    padding: 0.35rem;
    border-radius: 0.3rem;
    width: 100%;
}
textarea{   
    width: 100%;
    height: 60px;
    border-radius: 10px;
}
label{
    color: white;
    font-weight: 650;
    font-family: sans-serif;
    font-size: 0.9rem;
}
button{
    background-color: #018C9E;
    color: white;
padding: 0.6rem 3rem;
border: none;
border-radius: 0.3rem;
font-weight: 900;
}
.button_container{
    display: flex;
    justify-content: end;
    width: 100%;
}


@media only screen and (min-width: 768px){
    .form-row{
        flex-wrap: nowrap;
    }
    
}